{% extends 'base.html' %}

{% block title %}File Downloader{% endblock %}

{% block header %}LAN File Download{% endblock %}

{% block subtitle %}Pick a file below to download{% endblock %}

{% block content %}
    <p>
        {% with files = get_files_from_upload_folder() %} {% if files %}
        <ul class=files>
            {% for file in files %}
                {% with filename = get_file_basename(file) %}
                <li><a href="{{ url_for('download_file', filename=filename) }}">{{ filename }}</a></li>
                {% endwith %}
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
{% endblock %}